@import "./colors"; // Colors

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

html, body{
  margin: 0;
  padding: 0;
}

header{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blue-grey-100;
  border-bottom: 1px solid $blue-grey-200;
  padding: 0 5vw;
  position: fixed;
  left: 0; right: 0; top: 0;
  z-index: 999;

  @media screen and (min-width: 768px) {
    padding: 0 10vw;
  }

  a{
    text-decoration: none;

    &:hover{
      h1{
        color: $blue-500;
      }
    }
  }

  .brand{
    display: flex;
    align-items: center;

    .logo-img{
      background: url('../src/assets/medallia-mail-logo.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 55px;
      width: 50px;
      margin-right: 10px;
    }

    h1{
      margin-top: 25px;
      font-size: 1.4em;
      color: $blue-grey-800;
      transition: 0.1s ease color;
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }

  .user{
    display: flex;
    align-items: center;
    height: 100%;

    .user-details{
      display: flex;
      align-items: center;
      border-left: 1px solid $blue-grey-200;
      height: 40px;
      margin-left: 15px;
      padding-left: 15px; 

      p{
        margin: 0 0 0 10px;
        display: none;

        @media screen and (min-width: 768px) {
          display: block;
        }
      }
    }

    .unread-messages-container{
      position: relative;
      font-size: 1.5em;

      .circle{
        position: absolute;
        top: -5px;
        right: -10px;
        height: 22px;
        width: 22px;
        border-radius: 100%;
        background-color: $amber-300;

        p{
          margin: 0;
          font-size: 0.6em;
        }
      }
    }
  }
}

.page{
  padding: 0 10vw;
  margin-top: 60px;
  position: relative;

  h1.title{
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid $blue-grey-50;
  }

  .back-btn{
    position: absolute;
    cursor: pointer;

    &:hover{
      color: $blue-500;
    }
  }
}

.home{
  p{
    padding: 25px;
    font-size: 1.2em;

    span{
      font-size: 1.5em;
    }
  }

  button{
    background-color: $green-500;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.1s ease background-color;

    &:hover{
      background-color: $green-600;
    }
  }

  .reset{
    color: $red-500;
    cursor: pointer;
    margin: 0;
    width: 250px;
    font-size: 0.9em;
    border: 1px solid $red-500;
    padding: 5px;

    &:hover{
      color: $red-800;
    }
  }
}


.inbox{
  ul{
    list-style: none;
    margin: 20px 0 50px;
    padding: 0;

    li.message-item{
      border-bottom: 1px solid $grey-300;
      display: flex;
      text-align: left;
      padding: 20px;

      &:last-child{
        border: 0;
      }

      &.unread-message{
        background-color: $grey-100;
      }

      &:hover{
        background-color: $yellow-100;
        cursor: pointer;
      }

      .envelope{
        margin-top: 10px;
      }

      .message-content{
        margin-left: 10px;

        h2{
          margin: 0;
        }

        p{
          margin: 0;
        }
      }
    }
  }
}

.message{
  .content{
    text-align: left;
  }
}
