<template>
  <div class="home page">
    <h1 class="title">Hello {{userName}}</h1> 
    <p>You have <span>{{unreadMessages}}</span> unread messages out of <span>{{totalMessages}}</span> total.</p>
    <router-link to="/inbox"><button>View Messages</button></router-link>
    <p @click="reset" class="reset">Set all messages as unread.</p>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'

  export default {
    name: 'home',
    components: {
    },
    methods: {
      ...mapActions([
        'setAllAsUnRead'
      ]),
      reset() {
        this.setAllAsUnRead()
      }
    },
    computed: {
      ...mapState([
        'userName'
      ]),
      ...mapGetters([
        'unreadMessages',
        'totalMessages'
      ])
    }
  }
</script>
