<template>
  <div class="inbox page">
    <h1 class="title">Inbox</h1>
    <ul>
      <li v-for="(msg, i) in messagesList" :key="i" @click="messageSelected(i)" class="message-item" :class="{'unread-message': !messagesList[i].isRead}">
        <span v-html="envelope(i)" class="envelope"></span>
        <div class="message-content">
          <h2>{{msg.subject}}</h2>
          <p>{{msg.content | partialContent}}</p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
  import { mapState, mapMutations } from 'vuex'

  export default {
    name: 'Inbox',
    created () {

    },
    methods: {
      ...mapMutations([
        'UPDATE_messageState'
      ]),
      messageSelected (index) {
        if (!this.messagesList[index].isRead) {
          let payload = {
            index,
            isRead: true
          }
          this.UPDATE_messageState(payload)
        }
        this.goToMessage(index)
      },
      goToMessage (index) {
        this.$root.$router.push('/inbox/' + index)
      },
      envelope (index) {
        let message
        if (this.messagesList[index].isRead) {
          message = '<i class="far fa-envelope-open"></i>'
        } else {
          message = '<i class="fas fa-envelope"></i>'
        }
        return message
      }
    },
    computed: {
      ...mapState([
        'messagesList',
      ])
    },
    filters: {
      partialContent (string) {
        /* If string contain more than 5 words, cut it and add '...' */
        if (!string) {
          return ''
        }
        let arr = string.split(' ')
        if (arr.length <= 5) {
          return arr.join(' ')
        } else {
          arr.splice(5, arr.length - 5)
          arr.push('...')
          return arr.join(' ')
        }
      },
    }
  }
</script>