<template>
  <div class="message page">
    <p @click="goToInbox" class="back-btn"><i class="fas fa-chevron-left"></i> Inbox</p>
    <h1 class="title">{{messagesList[messageId].subject}}</h1>
    <p class="content">{{messagesList[messageId].content}}</p>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Message',
    data () {
      return {
        messageId: this.$route.params.messageId
      }
    },
    created () {
    },
    methods: {
      goToInbox () {
        this.$root.$router.push('/inbox')
      }
    },
    computed: {
      ...mapState([
        'messagesList',
      ])
    }
  }
</script>