<template>
  <header>
    <router-link to="/">    
      <div class="brand">
        <div class="logo-img"></div>
        <h1>MailDallia</h1>
      </div>
    </router-link>


    <div class="user">
      <div class="unread-messages-container">
        <div class="circle">
          <p>{{unreadMessages}}</p> 
        </div>
        <i class="fas fa-envelope"></i>
      </div>

      <div class="user-details">
        <i class="fas fa-2x fa-user-circle"></i>
        <p>{{userName}}</p>
      </div>
    </div>
  </header>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  export default {
    name: 'Header',
    data () {
      return {

      }
    },
    created () {

    },
    methods: {

    },
    computed: {
      ...mapState([
        'userName'
      ]),
      ...mapGetters([
        'unreadMessages',
      ])
    }
  }
</script>